<div class="jumbotron text-center">
    <h1>Welcome to Dev Match</h1>
    <h3>A membership site where entrepeneurs can meet developers</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="well text-center">
            <h2>Basic Membership</h2>
            <h4>Sign up for free and get basic access to the community.</h4>
            <br/>
            <br/>
            <%= link_to "Sign up for free", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well text-center">
            <h2>Pro Membership</h2>
            <h4>Sign up for a pro account and gain premium access to the contact information of everyone in the community for only $10/month.</h4>
            <%= link_to "Gain full access today!", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
        
    </div>
    
</div>